body{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2 px;
    background-color: #F0EAE7;
}

.nav {
    font-size: 30px;
    padding-right: 170px;
    color: #24384E;
    padding-top: 30px;
}

.nav a{
    text-decoration: none;
    color: #24384E;
    padding-right: 30px;
}

.nav a:hover{
    color: #B592A0;
}

.fullpage {
    display: flex;
    height: 100vh;
    width: 98vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #24384E;   
    margin: auto;
}

.fullpage label{
    letter-spacing: 2px;
    font-size: 70px;
}

.content{
    max-width: 80%;
    color: #24384E;
}

.inputStuff{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

input {
    padding: 10px;
    border-radius: 8px;
    flex-grow: 8;
}

input[type=text] {
    font-size: 26px;
    letter-spacing: 2px;
    font-family: 'Special Elite', cursive;
}

button {
    padding: 10px;
    flex-grow: 1;
}

.intro{
    font-size: 40px;
    letter-spacing: 1px;
}

.caption {
    font-size: 40px;
    margin-bottom: 80px;
    letter-spacing: 1px;
}

.question {
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 50px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: auto;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.circle {
    cursor: cell;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #d4aeb1 solid 3px; 
    font-size: 20px;
    line-height: 145px;
    text-align: center;    
/*    background: #d4aeb1;*/
    color: #24384E;
    letter-spacing: 3px;
    margin: 50px;
}

.circle:hover {
    border: #24384E dotted 4.5px; 
    color: #B592A0;
}

.age ul li {
    margin: 30px;
}

.question.skin {
    margin-bottom: 30px;
}

.skinType ul li {
    width: 160px;
    height: 160px;
    line-height: 155px;
    margin: 30px;
}

.skinConcern ul li {
    margin: 20px;
    width: 180px;
    height: 180px;
    line-height: 175px;
    cursor: cell;
}

.circle.overflow {
    line-height: 30px;
    padding-top: 60px;
}

.buttons {
    display: flex;
}

.submitButton.skin{
    margin-left: 22%;
    order: 2;
}

.submitButton.skin button{
    width: 350px;
}

#skinConcernSubmit, #skinConditionSubmit {
    outline: none;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 10px;
    box-shadow: 6px 6px #A64253;
    cursor: cell;
    border: #A64253 1px solid;
}

.backButton {
    position: relative;
    float: left;
}

.backButton.skin {
    margin-top: 0px;
    order: 1;
}

.backButton button{
    position: absolute;
    outline: none;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 6px 6px #A64253;
    cursor: cell;
    border: #A64253 1px solid;
    transition: all 0.5s;
    bottom: -170px;
    width: 150px;
}

.backButton.skin button {
    position: static;
}

.backButton span {
    cursor: cell;
    display: inline-block;
    position: relative;
}

.backButton button span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
  color: #24384E;
}

.backButton button:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: 3px 3px #A64253;
}

.backButton button:hover span {
  padding-left: 10px;
}

.backButton button:hover span:after {
  opacity: 1;
  left: -15px;
}

#skinConcernSubmit:hover, #skinConditionSubmit:hover{
    background-color: #B592A0;
    color: #24384E;
    border: #B592A0 1px solid;
}

#skinConcernSubmit:active, #skinConditionSubmit:active{
    transform: translateY(3px) translateX(3px);
    box-shadow: 3px 3px #A64253;
}

.selected {
    border: #24384E dotted 4.5px; 
    color: #B592A0;
}

.skinCondition input{
    width: 100%;
}

.skinCondition {
    margin-bottom: 130px;
}

.routine {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
}

.amRoute, .pmRoute {
    list-style-type: none;
}

.amRoute h2, .pmRoute h2 {
    font-size: 45px;
}

.amRoute li, .pmRoute li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.amRoute span, .pmRoute span {
    font-family: 'Munson';
    font-size: 20px;
}